<!-- Toolbar -->


<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<mat-grid-list *ngIf="grid" cols="2" rowHeight="2:1">
  <mat-grid-tile style="width: 30px; background: black;">1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>

</mat-grid-list>


<div class="content" role="main">
  <div>
    <button mat-raised-button color="warn" (click)="showGrid()" >Show Grid</button>
    <button mat-raised-button color="warn" (click)="showCard()">Show Card</button>
  </div>
  <p>card status: {{card}}</p>
  <p>card status: {{grid}}</p>
<app-card *ngIf="card"></app-card>

<div>
  <app-expansion-panel></app-expansion-panel>
</div>



  


  



</div>


